/* general style */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    
}

img{
    max-width: 100%;
}

/* layout */

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'logo logo'
    'hero-image hero-image'
    'content content';

    
}

.logo{
    grid-area: logo;
    padding: 2em;
}

.hero-image{
    grid-area: hero-image;
}

.content{
    grid-area: content;
    padding: 2em;
    text-align: center;
    color: hsl(0, 36%, 70%);
}
.content h1{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 10px;
}
.content h1 span{
    display: block;
    color: black;
    font-weight: 400;
}

.content p{
    line-height: 1.4;
    padding-bottom: 2em;
    font-size: 1.2rem;
}
form{
    position: relative;
}
.user-input{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding: 1em;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 20px;
    text-indent: 10px;
    
}

.user-input:hover,
.user-input:focus,
.user-input:active{
    border: 1px solid hsl(0, 74%, 74%);
    outline: none;
}

.arrow-icon{
    padding: .7em 2em;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: absolute;
    right: 0;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
.arrow-icon:hover{
    background:linear-gradient(135deg,hsl(0, 80%, 90%), hsl(0, 74%, 74%)) ;
}
.error-image{
    position: absolute;
    right: 70px ;
    top: 10px
}

.none{
    display: none;
}


@media (min-width: 372px){
    body{
        width: 370px;
        margin: 0 auto;
    }
}

@media (min-width: 500px) {
    body{
        width: 100vw;
        background: url('./images/bg-pattern-desktop.svg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    main{
        grid-template-areas: 
        'logo hero-image'
        'content hero-image'
        'content hero-image';
        grid-template-rows: 70px 1fr 1fr;
        height: 100vh;
        
    }
    .logo{
         padding-left: 5em;
    }
    .hero-image{
        height: 100%;
        width: 100%;
    }

    .content{
        margin-top: 0;
        padding-left: 5em;
        padding-right: 5em;
        text-align: left;
    }
    .content p{
        padding-left: 0em;
        padding-top: 0;
    }

}